:root{
  --form-text-color:rgb(226, 68, 68);
  --main-margin:35px;
  --menu-heading-color:#bfc2bf6c;
  --input-border:#E5E7EB;
  --input-outline-correct:1.4px solid rgb(14, 60, 242);
  --input-outline-error:1.4px solid  red;
  & ::selection{
    background-color: rgb(28, 53, 53);border-radius: 50%;
    color: orange;
  }
}

body,html{
    height: 100vh;width:100vw;
    /* overflow-x: hidden; */
  }
  .heading{
    color:gold;font-size: 5em;
    font-family: MyFont;
    
  }
  .header{
    padding:  4px;
    background-color: rgba(60, 109, 234, 0.368);
    width: 98vw;display: flex;justify-content: center;gap:3.4vw;
  }
  *{color:rgb(202, 187, 187);
  }
  @font-face {
    font-family: 'MyFont';
    src: url('../font/golden-coast-font/GoldencoastpersonaluseItalic-7BR0w.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
.menuPageBgImg{
  background-image: url('../images/fire-flame-black-background.jpg');
   background-size: cover;
}
.homePageBgImg{
  background-image: url('../images/bk.jpg');
  background-repeat: no-repeat;
  background-size:cover;
}
.menuPageContainer{ 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width:  clamp(4vw,100%,88vw); 
  background-image: url('../images/menu-bg.jpg'); 
  background-repeat: no-repeat;
  background-size:cover;
  padding: 20px;
  &>*:nth-child(2){
    margin-top: 19vw;  
  }
  & h1{
    text-align: center;
      font-size: 8vw; 
      color:var(--menu-heading-color);
  }
  height: 230vh;
} 
@media screen   and (max-width:560px){
  .menuPageContainer{
     height: 84vh;
    & h1{
      margin: 3vw 13vw;
    }
  }
  body,html{
     
  }
}

.kichadi,.tiffen,.biryani{
  display: grid;
  grid-template-columns: 0.9fr 1fr;
  margin-top: 9vw; 
  justify-content: center;
  align-items: center;
  justify-items: start;
  & img{  border: 8px solid rgba(219, 219, 23, 0.1);
    border-radius: 48%;
    justify-self: center;
    width: 19vw; /*dynamic height and width changing*/
  height: 19vw;margin-left: 1.6vw;
  }
  & h2{
    font-size: 3.2vw;
    justify-self: center;margin : 0 1.5vw 0 -1.5vw;
  }
}
 
.con{
  display: flex;
  justify-content: center;flex-direction: column;align-items: center;
}

/*form styling*/
button{
  margin-top: 19px;
  background-color: #596D48;
  border-radius: 5px;
  color: white;
  padding: 3px;
  &:active{
      cursor: pointer;
      box-shadow: inset 2px 3px 3px gray;
      background-color: #38380cdd;
  }
  &:hover{
      cursor: pointer;
  }
}

input{
  font-family: MyFont;
  border: 1px solid var(--input-border);
  height: 1.36rem;
  &:focus{
      outline:var(--input-outline-correct,blue);
      box-shadow: 2px 2px 3px 0px #8b8b8b;
}

&:invalid:focus,&:invalid{
      outline: var(--input-outline-error,red);
    }}

    label{
      text-transform: uppercase;
      font:0.9rem sans-serif;
  }


  input,button,.formContainer,textarea{
    -webkit-appearance: none;
    appearance: none;
    padding: 0;
    margin: 0;
    width: min(26vw,150px);
    box-sizing: border-box;
    font-size: 100%;
    font-family: inherit;
    display: block;/* this is fing important*/
    border-radius: 3px;
 }

 .formContainer{ 
    background-color: rgba(255, 255, 255, 0.121);
    width: min(335px,63vw) ;
    padding: 0.3rem 0 1.7rem 0;
    box-shadow: 2px 2px 32px #e5e0e0;
    display: flex;justify-content: center;
    align-items: center;flex-direction: column;
}

.formContainer > p{ /* selects all dirct child of formContainer tag*/
   
  width: min(300px,56vw);
  display: flex;justify-content: space-between;
  align-items: center;

  & *{color:var(--form-text-color)}
}


/*ux form*/
input{
  border: 1px solid var(--input-border);
  height: 1.36rem;
  &:focus{
      outline:var(--input-outline-correct,blue);
      box-shadow: 2px 2px 3px 0px #8b8b8b;
}
}

.orderPgCont{
  display: flex;
  gap: 48px; justify-content: center; margin-top: 10vw;
  align-items: center;flex-flow: wrap  ;padding: 40px;
}